---
layout: default
show_portfolio: false
---
<!-- Start Case Studies Divider -->
<div class="portfolio-over_divider caseStudies-over_divider">
  <div class="container">
    <div class="row">
      <div class="span12 see_divider">
        <div id="see" class="see_title">
          <h1>CASE STUDIES</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Case Studies Divider -->
<div>
    <section id="caseStudies" class="container">
        <div class="row">
            <div id="portfolio-projects" style="position: relative; overflow: hidden; height: 2760px;" class="isotope">
                <ul id="projects">
                    <!-- projects -->


                    <li class="item-project span4 isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px);">

                        <a class="hover-wrap fancybox" href="/iVoox/" data-fancybox-group="gallery" title="iVoox Redesign">
                            <h5>
                                iVoox Redesign
                            </h5>
                            <img src="http://localhost:3000/assets/img/portfolio/thumb/iVoox-01-THMB@2x.jpg" data-rjs="2" alt="iVoox Redesign" width="370" height="246">
                            <div class="overlay"></div>
                        </a>
                    </li>



                    <li class="item-project span4 ux_ui design isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(400px, 0px, 0px);">

                        <a class="hover-wrap fancybox" href="/gitfood/" data-fancybox-group="gallery" title="El Cocinero">
                            <h5>
                                El Cocinero
                            </h5>
                            <img src="http://localhost:3000/assets/img/portfolio/thumb/gitfood-THMB@2x.jpg" data-rjs="2" alt="El Cocinero" width="370" height="246">
                            <div class="overlay"></div>
                        </a>
                    </li>



                    <li class="item-project span4 design ux_ui isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(800px, 0px, 0px);">

                        <a class="hover-wrap fancybox" href="/jewwe/" data-fancybox-group="gallery" title="Jewwe">
                            <h5>
                                Jewwe
                            </h5>
                            <img src="http://localhost:3000/assets/img/portfolio/thumb/jewwe-THMB@2x.jpg" data-rjs="2" alt="Jewwe" width="370" height="246">
                            <div class="overlay"></div>
                        </a>
                    </li>



                    <li class="item-project span4 web ux_ui isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 276px, 0px);">

                        <a class="hover-wrap fancybox" href="/trabe/" data-fancybox-group="gallery" title="Trabe">
                            <h5>
                                Trabe
                            </h5>
                            <img src="http://localhost:3000/assets/img/portfolio/thumb/trabe-THMB.jpg" data-rjs="2" alt="Trabe">
                            <div class="overlay"></div>
                        </a>
                    </li>



                    <li class="item-project span4 design illustration isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(400px, 276px, 0px);">

                        <a class="hover-wrap fancybox" href="/lecture/" data-fancybox-group="gallery" title="Lecture App">
                            <h5>
                                Lecture App
                            </h5>
                            <img src="http://localhost:3000/assets/img/portfolio/thumb/lecture-THMB@2x.jpg" data-rjs="2" alt="Lecture App" width="370" height="246">
                            <div class="overlay"></div>
                        </a>
                    </li>



                    <li class="item-project span4 design ux_ui isotope-item" style="position: absolute; left: 0px; top: 0px; transform: translate3d(800px, 276px, 0px);">

                        <a class="hover-wrap fancybox" href="/fivb/" data-fancybox-group="gallery" title="FIVB">
                            <h5>
                                FIVB
                            </h5>
                            <img src="http://localhost:3000/assets/img/portfolio/thumb/FVB-THMB@2x.jpg" data-rjs="2" alt="FIVB" width="370" height="246">
                            <div class="overlay"></div>
                        </a>
                    </li>

                </ul>
            </div>
    </div></section>
</div>

<!-- Start Overview -->
<div class="portfolio-over_divider overview-over_divider">
  <div class="container">
    <div class="row">
      <div class="span12 see_divider">
        <div id="see" class="see_title">
          <h1>OVERVIEW</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Overview -->

<!-- Start Slider -->
<section id="slider">
  <div class="fullwidthbanner-container">
    <div class="fullwidthbanner">

      <ul>
        <!-- THE ZERO SLIDE -->
        <li data-transition="random" data-slotamount="1" data-masterspeed="300">
          <img src="assets/img/slider-images/image-10.jpg" data-rjs="2" alt="Image" data-fullwidthcentering="on">
        </li>
        <!-- THE ZERO,1 SLIDE -->
        <li data-transition="random" data-slotamount="1" data-masterspeed="300">
          <img src="assets/img/slider-images/image-00.jpg" data-rjs="2" alt="Image" data-fullwidthcentering="on">
        </li>








        <!-- THE FIRST SLIDE -->
        <li data-transition="random" data-slotamount="1" data-masterspeed="300">
          <img src="assets/img/slider-images/image-01.jpg" data-rjs="2" alt="Image" data-fullwidthcentering="on">
          </li>
          <!-- THE SECOND SLIDE -->
          <li data-transition="random" data-slotamount="1" data-masterspeed="300">
            <img src="assets/img/slider-images/image-09.jpg" data-rjs="2" alt="Image" data-fullwidthcentering="on">
          </li>

          <!-- THE THIRD SLIDE -->
          <li data-transition="random" data-slotamount="1" data-masterspeed="300">
            <img src="assets/img/slider-images/image-03.jpg" data-rjs="2" alt="Image" data-fullwidthcentering="on">

          </li>
          <!-- THE FOURTH SLIDE -->
          <li data-transition="random" data-slotamount="1" data-masterspeed="300">
            <img src="assets/img/slider-images/image-04.jpg" data-rjs="2" alt="Image" data-fullwidthcentering="on">

            <!-- <div class="caption very_big_custom_text sft"
                         data-x="center"
                         data-y="290"
                         data-speed="300"
                         data-start="500"
                         data-easing="easeOutExpo" data-end="8400" data-endspeed="300" data-endeasing="easeInSine" >BE CREATIVE</div>

                    <div class="caption custom_text sft"
                         data-x="center"
                         data-y="360"
                         data-speed="300"
                         data-start="800"
                         data-easing="easeOutExpo" data-end="8600" data-endspeed="300" data-endeasing="easeInSine" >...AND ANIMATE ANYTHING YOU WANT!</div> -->
          </li>
          <!-- THE FIFTH SLIDE -->
          <li data-transition="random" data-slotamount="1" data-masterspeed="300">
            <img src="assets/img/slider-images/image-08.jpg" data-rjs="2" alt="Image" data-fullwidthcentering="on">

          </li>
      </ul>
    </div>
  </div>
</section>
<!-- End Slider -->

<!-- Start See Divider -->
<div class="portfolio-over_divider see-over_divider">
  <div class="container">
    <div class="row">
      <div class="span12 see_divider">
        <div id="see" class="see_title">
          <h1>SEE</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End See Divider -->

<!-- Start Section Portfolio Filter -->

{% include 01-portfolio-filter.html %}

<!-- End Section Portfolio Filter -->

<!-- Start Section Portfolio Projects -->

{% include 02-portfolio-projects.html %}

<!-- End Section Portfolio Projects -->

<!-- Start Touch Divider -->
<div class="portfolio-under_divider touch-over_divider">
  <div class="container">
    <div class="row">
      <div class="span12">
        <div id="contact" class="touch_title">
          <h1>TOUCH</h1>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End Touch Divider -->

<!-- Contact Section -->
<section id="contact">
  <div class="container">
    <!-- Contact Form -->
    <div class="row contact-margin-bottom">
      <!-- Contact Details -->
      <div class="span3">
        <div class="contact-details">

          <ul>
            <li>
              <h4>Contact Details</h4>
            </li>
            <li>
              <h3>Profits Arts'n'Grafx</h3>
            </li>
            <li><a href="mailto:profitsarts@gmail.com" title="email me">profitsarts@gmail.com</a></li>
            <li>0034 656 559 570</li>
          </ul>
        </div>
      </div>
      <!-- End Contact Details -->
      <div class="span9">
        <h4 class="keepTouch">Let's keep in touch</h4>
        <form id="contact-form" class="contact-form" action="//formspree.io/profitsarts@gmail.com" method="POST">
          <p class="contact-name">
            <input id="contact_name" type="text" placeholder="Full Name" value="" name="name" />
          </p>
          <p class="contact-email">
            <input id="contact_email" type="text" placeholder="Email Address" value="" name="_replyto" />
          </p>
          <p class="contact-message">
            <textarea id="contact_message" placeholder="Your Message" name="message" rows="15" cols="40"></textarea>
          </p>
          <p class="contact-submit">
            <button type="submit" class="submit" name="button">Send Your Email</button>
          </p>
          <div id="response">
            <input type="text" name="_gotcha" style="display:none">
          </div>
        </form>

      </div>
    </div>
    <!-- End Contact Form -->
  </div>
</section>
<!-- End Contact Section -->
