<div id="content">
    <section id="portfolio-filter" class="container">
       <!--  <div class="row">
            <div class="span12">
                <div class="works_title">
                    <h1>WORKS</h1>
                </div>
            </div>
        </div> -->
        <div class="row">
            <div class="span12">
                <div  class="dropdown portfolio-filter_center">
                    <div id="dropdown_hidden" class="dropmenu">
                        <p class="selected">ALL PROJECTS</p>
                        <i class="font-icon-arrow-simple-down"></i>
                    </div>
                    <!-- desktop -->
                    <div id="navbar_hidden" class="filterMenu">
                        <!-- dropmenu-active -->
                        <ul class="option-set" data-option-key="filter">
                            <li><a class="selected drop-selected" href="#filter" data-option-value="*">ALL PROJECTS</a></li>
                            <li><a href="#filter" data-option-value=".design">DESIGN</a></li>
                            <li><a href="#filter" data-option-value=".illustration">ILLUSTRATION</a></li>
                            <li><a href="#filter" data-option-value=".layout">LAYOUT</a></li>
                            <li><a href="#filter" data-option-value=".branding">BRANDING</a></li>
                            <li><a href="#filter" data-option-value=".web">WEB</a></li>
                            <li><a href="#filter" data-option-value=".ux_ui">UX/UI</a></li>
                        </ul>
                    </div>
                    <!-- mobile -->
                    <div id="mob-navbar_hidden" class="dropmenu-active">
                        <!-- dropmenu-active -->
                        <ul class="option-set" data-option-key="filter">
                            <li><a class="selected drop-selected" href="#filter" data-option-value="*">ALL PROJECTS</a></li>
                            <li><a href="#filter" data-option-value=".design">DESIGN</a></li>
                            <li><a href="#filter" data-option-value=".illustration">ILLUSTRATION</a></li>
                            <li><a href="#filter" data-option-value=".layout">LAYOUT</a></li>
                            <li><a href="#filter" data-option-value=".branding">BRANDING</a></li>
                            <li><a href="#filter" data-option-value=".web">WEB</a></li>
                            <li><a href="#filter" data-option-value=".ux_ui">UX/UI</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
