<!-- Start Bio -->

<div class="container">
  <div class="row-fluid">
    <div class="span12">
      <div class="span2 avatar sep">
        <img src="assets/img/logos/avatar.jpg" alt="avatar" class="clip-circle">
      </div>
      <div class="span9 sep">
        <figure class="quote">
          <blockquote>
            <h4 class="avatar-headline">Hi, this is Luis Sierra and I am a Senior Digital Product Designer.</h4>
          </blockquote>
        </figure>
      </div>
      <!-- <div class="row-fluid"> -->

      </div>
      <div class="row-fluid">
         <div class="span12"><p class="avatar-bio">I have been involved in Design field professionally for over 20+ years, having worked in such places as digital design studios and agencies, print houses and book publishing houses; being focused at the moment in creating solid and functional user interfaces, with a deep knowledge of the tools and design science.
          <br>
          <br>
         I've specialised in Lean Ux as a as a mindset and process to create functional user experiences without wasting time; where you get the whole team, including the client, involved in the project and everyone contributes ideas and feels integrated in the process, making everyone feel ownership, generating agreements on the fly and making the process extremely agile.
          <br>

          <br>
         The creation of a digital product implies, in my opinion, establishing a clear and constant co,0,mmunication channel between the product and the user, identifying the needs and problems of users through in-depth qualitative and quantitative research, where not only design must be taken into account, but also checking that it meets the real needs of the user and the business objective, offering a solid and seamless final experience.</p>
       </div>
    </div>
  </div>
</div>
