<!-- Start Footer -->
<script type="text/javascript" language="javascript">
    function changeImage_mail(img)
    {
        document.getElementById('hover_change').src=img;
    }
</script>
<footer>
    <div class="container">
        <div class="row">
            <div class="span12">
                <nav id="social-footer">
                    <ul>
                        <li><a href="https://soundcloud.com/condres" target="_blank" title="Soundcloud"><i class="font-icon-social-soundcloud"></i></a></li>
                        <!-- <li><a href="#" title=""><i class="font-icon-social-facebook"></i></a></li>
                        <li><a href="#" title=""><i class="font-icon-social-dribbble"></i></a></li> -->
                        <li><a href="http://be.net/gimmeprofits" title=""><i class="font-icon-social-behance"></i></a></li>
                        <li id="mailIcon" style="vertical-align:top;">
                            <a  href="mailto:profitsarts@gmail.com" title="email me" onmouseover="changeImage_mail('{{"/assets/img/logos/mail_Icon_white.png" | prepend: site.baseurl }}')" onmouseout="changeImage_mail('{{"/assets/img/logos/mail_Icon.png" | prepend: site.baseurl }}')">
                                <img id="hover_change" src="{{"/assets/img/logos/mail_Icon.png" | prepend: site.baseurl }}">
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</footer>
<!-- End Footer -->

<!-- Start Credits -->
<section id="footer-credits">
    <div class="container">
        <div class="row">
            <div class="span12">
                <p class="credits">&copy; 2021 Profits arts'n'grafx. All rights reserved.</p>
            </div>
        </div>
    </div>
</section>
<!-- End Credits -->

<!-- Back To Top -->
<a id="back-to-top" href="#">
    <i class="font-icon-arrow-simple-up"></i>
</a>
<!-- End Back to Top -->
