<div class="row">
    <div class="span12">
      <br>
      <h5>Don't thow anything away, make it profitable.</h5>

      <p class="work-def psep">
        Rentr is a project that seeks to increase the sustainability of the planet and the pocket of its users, providing them with rental materials that, if they were to be purchased, would probably not be used more than a couple of times in their lifetime. By managing a wide range of categories, which would be open to user suggestions, throug a system of self-assimilation by accumulation of new stock on a daily basis, it would be possible to have any type of tool available for rent for a period of time decided by both parties, thus giving the user the opportunity of not having to contribute a huge financial burden for something that will not be used for a long time.
        It is based on a geolocalised system by proximity and price filtering by hour, quality and condition of the tool, date of purchase, etc...
        <br>
        <SPAN STYLE="font-weight:800">PROBLEMS:</SPAN>
        <br>
        waste of money
        <br>
        accumulation of tools that we use little or not at all
        <br>
        protection of the planet
          <br>
        <SPAN STYLE="font-weight:800"> SOLUTIONS:</SPAN>
        <br>
        to stop others from spending so much
        <br>
        to be able to get other people to reuse our tools without having to buy a new one.
        <br>
        slowing down the planet's degenerative process.
        <br>
        <br>
        </p>
        <p class="advice">I strongly recommend downloading the full case study attached above as a PDF to fully understand the final result.</p>

        <br>
      <div class="row">
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-02-FULL.jpg"></div></div>
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-03-FULL.jpg"></div></div>
      </div>
      <p class="work-def psep">Using Lean Survey Canvas to understand what questions to ask in surveys.</p>
      <br>

      <div class="span12"><img src="../assets/img/portfolio/full/06-rentr-04-FULL.jpg"></div>

      <br>
      <p class="work-def psep">Survey results.</p>
      <br>
      <div class="row">
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-05-FULL.jpg"></div></div>
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-06-FULL.jpg"></div></div>
      </div>

      <br>

      <div class="row">
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-07-FULL.jpg"></div></div>
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-08-FULL.jpg"></div></div>
      </div>

      <br>

      <p class="work-def psep">Market research to see competition, set priorities and make a difference.</p>
      <br>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-09-FULL.jpg"></div>

      <br>

      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-10-FULL.jpg"></div>

      <br>

      <p class="work-def psep">Validate your hypotheses in the marketplace with your potential customers.
</p>
      <br>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-11-FULL.jpg"></div>

      <br>

      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-12-FULL.jpg"></div>

      <br>

      <p class="work-def psep">Creating personas will help you to understand your users’ needs, experiences, behaviours and goals.</p>
      <br>
      <div class="row">
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-13-FULL.jpg"></div></div>
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-14-FULL.jpg"></div></div>
      </div>

      <br>

  <p class="work-def psep">The moscow method for prioritising functionalities.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-15-FULL.jpg"></div>

      <br>

      <p class="work-def psep"> A user journey map tracks what a user does, thinks and feels when they come to different touch points in their journey.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-16-FULL.jpg"></div>

      <br>

      <p class="work-def psep">I have used crazy 8 method to improvise the architecture of the screens.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-17-FULL.jpg"></div>

      <br>

      <p class="work-def spep">Two different journeys throughout the app's structure.</p>
      <div class="row">
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-18-FULL.jpg"></div></div>
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-19-FULL.jpg"></div></div>
      </div>
      <br>

      <p class="work-def psep">The resolution of the logo was very funny, metaphorical and absolutely crazy.
There were several coincidences:   <br>
Doraemon carries all his belongings in his magic bag, Mary Poppins too.
<br>
The logo is Doraemon's expression of not having to keep everything in her bag and being able to dispose of things without having to buy and hold them.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-20-FULL.jpg"></div>

      <br>



      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-21-FULL.jpg"></div>

      <br>

      <p class="work-def psep">Colour palette.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-22-FULL.jpg"></div>
      <br>
        <p class="work-def sep">Typography.</p>
      <div class="row">
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-23-FULL.jpg"></div></div>
          <div class="span6"><div class="sep"><img src="../assets/img/portfolio/full/06-rentr-24-FULL.jpg"></div></div>
      </div>
      <br>

      <p class="work-def psep">The use of the 8 px grid makes everything fit together and the elaboration of the screens a delight.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-25-FULL.jpg"></div>


      <br>
        <p class="work-def psep">User Interface Design</p>
      <div class="row">
          <div class="span6">
            <p class="work-def-sm sep">Selected section enlarged. Scroll suggestion for the following products.</p>
            <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-26-FULL.jpg"></div></div>
          <div class="span6">
            <p class="work-def-sm sep">Use of second tab bar to facilitate tasks and dispense with 3 dot menus or hamburger menu.</p>
            <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-27-FULL.jpg"></div></div>
      </div>
      <br>

      <div class="row">
          <div class="span6">
            <p class="work-def-sm sep">Geolocated search by map showing nearest items.</p>
            <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-28-FULL.jpg"></div></div>
          <div class="span6">
            <p class="work-def-sm sep">Accessible tab bar with the main necessary shortcuts.</p>
            <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-29-FULL.jpg"></div></div>
      </div>
      <br>

      <p class="work-def psep">Item detail with all the necessary information without showing too much of it.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-30-FULL.jpg"></div>

      <br>

      <p class="work-def psep">Item detail in second tab bar, map section.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-31-FULL.jpg"></div>

      <br>
      <p class="work-def spep">More detailed information with the item selected.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-32-FULL.jpg"></div>

      <br>

      <p class="work-def psep">Last section ready for booking.</p>
      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-33-FULL.jpg"></div>

      <br>

      <div class="sep"><img src="../assets/img/portfolio/full/06-rentr-34-FULL.jpg"></div>

</div>
