<div class="row">
    <div class="span12">
      <br>
      <h5>Moving things around and going to the beauty salon.</h5>

      <p class="work-def">How would you add a new feature that allow
users to enter the letter (tiles) into the rack (input bar)?.
<br>
This was the initial proposal to reform the app's usability, making it easier to generate such a task.
On the other hand, a redesign of the app was required to give it a more modern look and replace the current one, which belonged to another era.</p>
      <br>
      <img src="../assets/img/portfolio/full/01-wordfinder-01-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/01-wordfinder-02-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/01-wordfinder-03-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/01-wordfinder-04-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/01-wordfinder-05-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/01-wordfinder-06-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/01-wordfinder-07-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/01-wordfinder-08-FULL.jpg"

    </div>
</div>
