<div class="row">
  <div class="span12">
    <br>
    <h5>Imagine Git for Food</h5>

    <p class="work-def">Fork is an idea of a collaborative recipe repository based on the "Git" version control system, giving users the opportunity to create personal recipes and leaving them freely available for others to make their own versions of those recipes, surpassing or changing them completely. Based on an extensive social system that aims to provide the user with a powerful repertoire of functionalities to be able to create teams, compete for scores or create competitions, starting from an original idea and converting the original recipe into something completely different, making the existing database of dishes to be prepared grow "automatically".
    <br>
    <br>
    </p>
    <!-- <p class="advice">I strongly recommend downloading the full case study attached above as a PDF to fully understand the final result.</p> -->

    <div class="sep"><img src="../assets/img/portfolio/full/03-fork-01-FULL.jpg"></div>

  <!-- Starts Here -->

  <p class="work-def sep">Don't play with the food was a phrase we were all told when we were little.
</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_01.jpg"></div>

    <p class="work-def sep"> I propose to do the opposite > play with the food.  <br>
An initial problem of content and number of users arises that would be solved...
</p>
    <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_02.jpg"></div>

    <p class="work-def sep">We are going to see some information about gamification.</p>
    <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_03.jpg"></div>

  <p class="work-def sep">It is a process that can have pedagogical and therapeutic characteristics.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_04.jpg"></div>

  <p class="work-def sep">It is capable of increasing different capacities > productivity and learning.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_05.jpg"></div>


  <p class="work-def sep">Now we will see which are the main competitors of our project.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_06.jpg"></div>


  <p class="work-def sep">Yummly asks questions to generate an accurate profile in terms of tastes or allergies.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_07.jpg"></div>


  <p class="work-def sep">...For a more efficient management.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_08.jpg"></div>

  <p class="work-def sep">Breadcrumbs <br>
Standardise the impossible
</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_09.jpg"></div>

  <p class="work-def sep">No cloning or competition like we do.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_10.jpg"></div>

  <p class="work-def sep">Goals to lose weight or save money.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_11.jpg"></div>

  <p class="work-def sep">Differentiation of ingredients according to recipe or according to supermarket section.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_12.jpg"></div>

  <p class="work-def sep">Both concepts are perfectly adapted to recipes.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_13.jpg"></div>

  <p class="work-def sep">Here is a brief summary of all of the previous thoughts.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_14.jpg"></div>

  <p class="work-def sep">Here is a summary of the most important points
from the result of 237 answers of a questionnaire
that I arrived at through the Lean Survey Canvas.
</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_15.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_16.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_17.jpg"></div>

  <p class="work-def sep">People who do not use recipes and make dishes from memory, and from memory with improvisation, add up to more than people who consult online. <br>
Paper press comes very close.
</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_18.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_19.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_20.jpg"></div>

  <p class="work-def sep">We have to offer something fresh.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_21.jpg"></div>

  <p class="work-def sep">The idea of versioning dishes is accepted. <br>
The theme of competition, not so much.
</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_22.jpg"></div>

  <p class="work-def sep"> People seem to want to collaborate more than fight, which is a good sign. (For human kindness specially)</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_23.jpg"></div>

  <p class="work-def sep">Gamification can get us involved and motivate us.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_24.jpg"></div>

  <p class="work-def sep">In terms of functionalities, having the construction of the recipe well detailed is the most valued thing.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_25.jpg"></div>

  <p class="work-def sep">I have interviewed 3 people, involved in gastronomy from more to less.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_26.jpg"></div>

  <p class="work-def sep">Sergio, a Chef, from whom I learnt that between professionals in the kitchen it is not accepted to correct each other, but as a fun game app type-of-thing it could be nice.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_27.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_28.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_29.jpg"></div>

  <p class="work-def sep"> With this information obtained,
in order to know the needs that the user has,
I have done exercises mapping to know how users feel and what they need.
</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_30.jpg"></div>

  <p class="work-def sep">User Persona: a fictitious archetype, in this case, related to gastronomy.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_31.jpg"></div>

  <p class="work-def sep">Rita wants to apply Software version control to food.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_32.jpg"></div>

  <p class="work-def sep">Lucía wants to study new gastronomic ways. An app where to learn.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_33.jpg"></div>

  <p class="work-def sep">Javi wants to get publicity for his events in a parallel medium to his activities.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_34.jpg"></div>

  <p class="work-def sep">With the Empathy Maps we have gone inside the user personas' heads to see what influences them.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_35.jpg"></div>

  <p class="work-def sep">And everything that goes through their heads we have summarised in the user stories that I will show later.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_36.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_37.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_38.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_39.jpg"></div>

  <p class="work-def sep">I have empathised with the user personas to see how they feel in the interaction with the App in the Customer Journeys.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_40.jpg"></div>

  <p class="work-def sep">Rita gets to have fun cooking and create many of her own recipes with her desired version control.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_41.jpg"></div>

  <p class="work-def sep">Lucia expands her knowledge of cooking history and can now write a book.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_42.jpg"></div>

  <p class="work-def sep">Javi starts to stand out as an active user and gets much more audience for his events.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_43.jpg"></div>

  <p class="work-def sep">We have kept the most significant and important user stories.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_44.jpg"></div>

  <p class="work-def sep">Avant-garde gastronomic  Fanatical. <br>
Recipe cloning functionality. <br>
See recipe evolution and have fun. <br>

</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_45.jpg"></div>

  <p class="work-def sep"> Cooking history scholar. <br>
needs to use tags to create lists of recipes related to each other. <br>
Write a book on the history of cooking.

</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_46.jpg"></div>

  <p class="work-def sep">As an organiser of gastronomic appointments. <br>
an option that allows me to generate events. <br>
to be able to invite users .

</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_47.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_48.jpg"></div>

  <p class="work-def sep">These are the conclusions in terms of functionalities that we reached with the empathy mappings. <br>
We see them in the MOSCOW method already divided into priority areas.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_49.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_50.jpg"></div>

  <p class="work-def sep">The functionalities that will be included are:</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_51.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_52.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_53.jpg"></div>

  <p class="work-def sep">This is the hierarchical structuring of our App.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_54.jpg"></div>

  <p class="work-def sep">In the user flows we have what would be the Happy Path of the user</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_55.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_56.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_57.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_58.jpg"></div>

  <p class="work-def sep">I have made the crazy 8 system to get fast and without blockages to the wireframes.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_59.jpg"></div>

  <p class="work-def sep">Pen and paper main user flow</p>
  <div ><img src="../assets/img/portfolio/full/03-fork-03-FULL.jpg"></div>

  <p class="work-def sep">Icon grid</p>
  <div class="sep"><img src="../assets/img/portfolio/full/03-fork-03.5-FULL.jpg"></div>


  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_60.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_61.jpg"></div>

  <p class="work-def sep">The Moodboard - This would be the soul in terms of style and concept of the App.</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_62.jpg"></div>

  <p class="work-def sep">The App is called Fork. <br>
Fork is what cloning and versioning is also called in software. <br>
The logo is like a history of three versions of the same fork.
</p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_63.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_64.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_65.jpg"></div>
  <p class="work-def sep">Recipe steps screen</p>
  <div class="sep"><img src="../assets/img/portfolio/full/03-fork-02-FULL.jpg"></div>

  <p class="work-def sep"></p>
  <div ><img src="../assets/img/portfolio/full/El_Cocinero_Analysis_UX_UI-EN_67.jpg"></div>














  </div>
</div>
