<div class="row">
    <div class="span12">
      <br>
      <h5>A complete guide to quick escape.</h5>

      <p class="work-def">The need to have a complete guide to Escape rooms in Spain, motivated the client to create this, in the future, complete application, full of details, possibilities to create teams, interaction between users, valuation of spaces, establish comparisons between services, generate rankings between teams.
In future iterations it is planned to add a strong social side and a gamified component to make it more fun and useful on the one hand and to achieve monetisation on the other.</p>
      <br>
      <p class="work-def sep">The beta on Apple's App Store</p>

      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-08-FULL.jpg"></div><div class="sep">

      <p class="work-def sep">Different User Flows sketches</p>
      <div class="row">
        <div class="span6">
          <p class="work-def-sm sep">pen and paper sketch</p>
          <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-12-FULL.jpg"></div>
        </div>
        <div class="span6">
          <p class="work-def-sm sep">Hi-Fi user flow</p>
          <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-13-FULL.jpg"></div>
        </div>
      </div>
      <br>

      <p class="work-def sep">Paper and pen wireframes.</p>
      <div class="row">
        <div class="span6">

          <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-09-FULL.jpg"></div>
        </div>
        <div class="span6">

          <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-10-FULL.jpg"></div>
        </div>
      </div>
      <p class="work-def sep">More wireframes.</p>
      <div class="row">
        <div class="span6">

          <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-11-FULL.jpg"></div>
        </div>
        <div class="span6">

          <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-14-FULL.jpg"></div>
        </div>
      </div>
      <br>
        <p class="work-def sep">Final UI screens</p>
        <br>

      <p class="work-def-sm sep">Start, login and confirmation screens</p>
      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-01-FULL.jpg"></div>
        <p class="work-def-sm sep">Home, Directory and claim company screens</p>
      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-02-FULL.jpg"></div>
        <p class="work-def-sm sep">Completed Escape Room, Escape Room detail screens</p>
      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-03-FULL.jpg"></div>
        <p class="work-def-sm sep">Business and map screens</p>
      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-04-FULL.jpg"></div>
        <p class="work-def-sm sep">Ranking and filter screens</p>
      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-05-FULL.jpg"></div>
        <p class="work-def-sm sep">User and personal information screens</p>
      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-06-FULL.jpg"></div>
        <p class="work-def-sm sep">Summary of the game, avatar picker and team section screens</p>
      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-07-FULL.jpg"></div>

        <p class="work-def-sm sep">Final App Overview</p>
      <div class="sep"><img src="../assets/img/portfolio/full/02-Fobos-15-FULL.jpg"></div>
</div>
