<div class="row">
  <div class="span12">
    <br>
    <h5>Imagine Git for Food</h5>

    <p class="work-def">Fork is an idea of a collaborative recipe repository based on the "Git" version control system, giving users the opportunity to create personal recipes and leaving them freely available for others to make their own versions of those recipes, surpassing or changing them completely. Based on an extensive social system that aims to provide the user with a powerful repertoire of functionalities to be able to create teams, compete for scores or create competitions, starting from an original idea and converting the original recipe into something completely different, making the existing database of dishes to be prepared grow "automatically".
    <br>
    <br>
    </p>
    <p class="advice">I strongly recommend downloading the full case study attached above as a PDF to fully understand the final result.</p>

    <br>
    <p class="work-def sep">Main Finalized App screens</p>

    <div class="sep"><img src="../assets/img/portfolio/full/03-fork-01-FULL.jpg"></div>

    <p class="work-def sep">Pen and paper main user flow</p>
    <div ><img src="../assets/img/portfolio/full/03-fork-03-FULL.jpg"></div>

    <p class="work-def sep">Lean UX user survey data</p>
    <div class="row">
      <div class="span6">
        <p class="work-def-sm sep">Age of participants</p>
        <div class="sep"><img src="../assets/img/portfolio/full/03-fork-06-FULL.jpg"></div>
      </div>
      <div class="span6">
        <p class="work-def-sm sep">Preferred media</p>
        <div class="sep"><img src="../assets/img/portfolio/full/03-fork-07-FULL.jpg"></div>
      </div>
    </div>
    <br>

  <p class="work-def sep">Empathy</p>
  <div class="row">
    <div class="span6">
      <p class="work-def-sm sep">User Personas analysis</p>
      <div class="sep"><img src="../assets/img/portfolio/full/03-fork-08-FULL.jpg"></div>
    </div>
    <div class="span6">
      <p class="work-def-sm sep">Empathy Maps analysis</p>
      <div class="sep"><img src="../assets/img/portfolio/full/03-fork-09-FULL.jpg"></div>
    </div>
  </div>
  <br>
  <p class="work-def sep">Happy path or best User figurelow possible</p>
  <div class="sep"><img src="../assets/img/portfolio/full/03-fork-10-FULL.jpg"></div>

  <p class="work-def sep">The moscow method for prioritising functionalities.</p>
  <div class="sep"><img src="../assets/img/portfolio/full/03-fork-11-FULL.jpg"></div>

  <p class="work-def sep">Hi-Fi Wireframes</p>
  <div class="sep"><img src="../assets/img/portfolio/full/03-fork-04-FULL.jpg"></div>

  <p class="work-def sep">Moodboard</p>
  <div class="sep"><img src="../assets/img/portfolio/full/03-fork-05-FULL.jpg"></div>

  <p class="work-def sep">Icon grid</p>
  <div class="sep"><img src="../assets/img/portfolio/full/03-fork-03.5-FULL.jpg"></div>

  <p class="work-def sep">Recipe steps screen</p>
  <div class="sep"><img src="../assets/img/portfolio/full/03-fork-02-FULL.jpg"></div>

</div>
</div>
