<div class="row">
    <div class="span12">
      <br>
      <h5>Kids deserve easier</h5>

      <p class="work-def">BanQz is a banking platform aimed solely at the under-age public (in this case generation Z, starting at the age of 14 and covering only the 4-year age range that separates them from the age of majority).
      <br>
      <br>
      </p>
      <p class="advice">I strongly recommend downloading the full case study attached above as a PDF to fully understand the final result.</p>

      <br>
      <div class="sep"><img src="../assets/img/portfolio/full/05-Banqz-02-FULL.jpg"></div>
      <br>
      <p class="work-def">The main objective is to overcome the legal problem of the autonomous administration of a minor's capital, a point that would be overcome by adding the intervention of a legal guardian who would act as a judge, outlining the limits of the scope that the minor in his or her charge would have, always within the law and adjusting a variable threshold of functionalities, according to the situation or "maturity" of the user, thus always being able to offer a hyper- adjusted user experience. <br>
      Other ludic and aesthetic issues also appear, which in hierarchical terms would occupy lower-ranking positions.</p>
      <br>
      <div class="sep"><img src="../assets/img/portfolio/full/05-Banqz-01-FULL.jpg"></div>
      <br>
      <div class="sep"><img src="../assets/img/portfolio/full/05-Banqz-03-FULL.jpg"></div>
      <br>

      <p class="work-def">In order to better understand this somehow new market area, I have been researching in different media, trying to get some clarification and find out what are the main problems to be solved.</p>
      <br>
      <div class="sep"><img src="../assets/img/portfolio/full/05-Banqz-04-FULL.jpg"></div>
      <br>
      <div class="sep"><img src="../assets/img/portfolio/full/05-Banqz-05-FULL.jpg"></div>
      <br>
      <div class="sep"><img src="../assets/img/portfolio/full/05-Banqz-06-FULL.jpg"></div>
      <br>
      <p class="work-def">When looking at the health of the market and the competition, I realised that this is a product that is not yet independent of its parents: banking for minors is still attached to its parents and I have not come across a digital product that is not a section or
appendix of the "parent" app, without its own autonomous features.
<br>These are some of the functionalities that, by intuition and the empathy exercises that follow, I consider most necessary in the development of the app.</p>
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-07-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-08-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-09-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-10-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-11-FULL.jpg">
      <br>

      <p class="work-def">Leaving rational behaviour to one side and focusing on emotional behaviour, I have composed different user archetypes that will help us to better understand the
product's adolescent target, getting into the blind spots in their heads and outlining answers to various hypotheses.
<br>
Normally, in this section of the research, the survey tends to be more in-depth, using tools such as the "Lean Survey Canvas", for example, to obtain specific questions and disseminate them in bursts of surveys and face-to-face interviews with "real" end-users.
<br>
Empathy maps, which, emerging from the archetypes we will see below, would map out on a scale the emotions they would experience through the sensitive channels.
Sensitive channels. Since this research is a test, we will have to dispense with such precious tools and stick of such precious tools and we will stick to flying over the minds of some archetypes, which, not for being archetypes, which do not lack argumentative validity because they are immaterial.
<br>
The following "user personas" are representations of a group of users with similar behaviours, objectives and motivations, which will help us to identify and get to know the end users of the product.</p>
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-12-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-13-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-14-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-15-FULL.jpg">
      <br>

      <p class="work-def">We continue with the "Customer Journeys", a model that allows us to follow the behaviour, needs and problems of our end user, and a "User Flow" scheme, defining what would be one of the possible successful interactions with our product.</p>
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-16-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-17-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-18-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-19-FULL.jpg">
      <br>
      <br>
      <p class="work-def">One of the idyllic "User Flows" possible.</p>
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-20-FULL.jpg">
      <br>
      <img src="../assets/img/portfolio/full/05-Banqz-21-FULL.jpg">
<br>
      <p class="work-def">Finally, a demonstration of the possible registration on the platform using the form. In the homepage, we strip away everything that is not essential, indicate the target, give an overview of the services, offer help in various ways and move on to onboarding without getting lost in details, “horror vacuis” or several screens of the same process. Everything is executed from the same place.</p>
      <br>

      <img src="../assets/img/portfolio/full/05-Banqz-22-FULL.jpg">


<br>
<br>
      <p class="work-def">The login gives us the opportunity to do it twice. The Sign-Up would be unique, as the guardian, manager and administrator of the account in legal terms, would be the one who would generate the account and later we would always find two logins for access, one for the guardian to enter and manage all the controls, and the other for the minor to enjoy the service, according to the parameters set by the guardian.</p>
      <br>

      <div class="sep sep"><img src="../assets/img/portfolio/full/05-Banqz-23-FULL.jpg"></div>
<br>
      <div class="sep sep"><img src="../assets/img/portfolio/full/05-Banqz-24-FULL.jpg"></div>
<br>
      <div class="sep sep"><img src="../assets/img/portfolio/full/05-Banqz-25-FULL.jpg"></div>
<br>
      <p class="work-def">The child's "tab" is shown here.</p>
      <br>

      <div class="sep sep"><img src="../assets/img/portfolio/full/05-Banqz-26-FULL.jpg"></div>

<br>
      <div class="sep sep"><img src="../assets/img/portfolio/full/05-Banqz-27-FULL.jpg"></div>
<br>

      <div class="sep sep"><img src="../assets/img/portfolio/full/05-Banqz-28-FULL.jpg"></div>

<br>
      <div class="sep sep"><img src="../assets/img/portfolio/full/05-Banqz-29-FULL.jpg"></div>

<br>
      <p class="work-def">And that was it, with no inclination to reinvent the wheel or re-revolve a system that already works and that we make functional by simply adding a double user layer, inspired by network systems, where we have several types of users, some with administrative powers and others with limited or practically no powers, depending on the situation to be dealt with.</p>
      <br>







    </div>
</div>
