<div class="row">

    <div id="portfolio-projects">
        <ul id="projects">

            <!-- 01 -->

            <li class="item-project span4 design illustration">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="010-posters.html" data-fancybox-group="gallery" title="Posters">
                    <img src="assets/img/portfolio/thumb/poster-destroy-THMB.jpg" alt="Posters" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

             <!-- 02 -->

            <li class="item-project span4 web">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="011-jeanba.html" data-fancybox-group="gallery" title="web jeanba">
                    <img src="assets/img/portfolio/thumb/jeanba-THMB-01.jpg" alt="web jeanba" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 02,5 -->

            <li class="item-project span4 design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="011-before.html" data-fancybox-group="gallery" title="Before">
                    <img src="assets/img/portfolio/thumb/before-THMB.jpg" alt="Before" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 03 -->

            <li class="item-project span4 web">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="012-trabe.html" data-fancybox-group="gallery" title="web trabe">
                    <img src="assets/img/portfolio/thumb/trabe-THMB.jpg" alt="web trabe" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>
            <!-- 03,5 -->

            <li class="item-project span4 design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="02-rinko.html" data-fancybox-group="gallery" title="Rinko">
                    <img src="assets/img/portfolio/thumb/rinko_bass-THMB.jpg" alt="Rinko" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>
            <!-- 04 -->

            <li class="item-project span4 design illustration">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="022-grams.html" data-fancybox-group="gallery" title="Grams">
                    <img src="assets/img/portfolio/thumb/Grams-02-THMB.jpg" alt="Grams" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 05 -->

            <li class="item-project span4 design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="03-hyper.html" data-fancybox-group="gallery" title="Hypersimbiosis">
                    <img src="assets/img/portfolio/thumb/hyper-THMB.jpg" alt="Hypersimbiosis" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 06 -->

            <li class="item-project span4 design branding">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="04-reset.html" data-fancybox-group="gallery" title="Reset Flyers">
                    <img src="assets/img/portfolio/thumb/reset-THMB.jpg" alt="Reset Flyers" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 07 -->

            <li class="item-project span4 illustration design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="05-huevos.html" data-fancybox-group="gallery" title="Huevos de Oro">
                    <img src="assets/img/portfolio/thumb/huevos-THMB.jpg" alt="Huevos de Oro" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 08 -->

            <li class="item-project span4 illustration design ">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="051-mechanik.html" data-fancybox-group="gallery" title="Mechanik">
                    <img src="assets/img/portfolio/thumb/mechanik-front-THMB.jpg" alt="Mechanik" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 09 -->

            <li class="item-project span4 illustration design ">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="06-esplendor.html" data-fancybox-group="gallery" title="Penca@Ciclos">
                    <img src="assets/img/portfolio/thumb/esplendor-THMB.jpg" alt="Penca@Ciclos" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 10 -->

            <li class="item-project span4 design layout">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="07-loft.html" data-fancybox-group="gallery" title="Loft">
                    <img src="assets/img/portfolio/thumb/loft-THMB.jpg" alt="Loft" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>


            <!-- 11 -->

            <li class="item-project span4 design illustration design layout">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>


                <a class="hover-wrap fancybox" href="09-hair_care.html" data-fancybox-group="gallery" title="This Is Hair Care">
                    <img src="assets/img/portfolio/thumb/hair_care-THMB.jpg" alt="This Is Hair Care" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>

            </li>

            <!-- 12 -->

            <li class="item-project span4 design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="10-gimme.html" data-fancybox-group="gallery" title="Gimme Indie Rock">
                    <img src="assets/img/portfolio/thumb/gimme-THMB.jpg" alt="Gimme Indie Rock" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 13 -->

            <li class="item-project span4 design illustration layout">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="11-cocaine.html" data-fancybox-group="gallery" title="Crack">
                    <img src="assets/img/portfolio/thumb/cocaine-THMB.jpg" alt="Crack" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 14 -->

            <li class="item-project span4 illustration design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="12-sr_fulano.html" data-fancybox-group="gallery" title="Sr. Fulano">
                    <img src="assets/img/portfolio/thumb/sr_fulano-THMB.jpg" alt="Sr. Fulano" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 15 -->

            <li class="item-project span4 design illustration">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="13-biodance.html" data-fancybox-group="gallery" title="Biodance">
                    <img src="assets/img/portfolio/thumb/biodance-THMB.jpg" alt="Biodance" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 16 -->

            <li class="item-project span4 design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="14-orejas.html" data-fancybox-group="gallery" title="Abrete de Orejas">
                    <img src="assets/img/portfolio/thumb/orejas-THMB.jpg" alt="Abrete de Orejas" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 17 -->

            <li class="item-project span4 design branding">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="15-logos.html" data-fancybox-group="gallery" title="Logos">
                    <img src="assets/img/portfolio/thumb/logo_reset-04-THMB.jpg" alt="Logos" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 18 -->

            <li class="item-project span4 design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="16-mandril.html" data-fancybox-group="gallery" title="Mandrilizate Fest">
                    <img src="assets/img/portfolio/thumb/mandril-THMB.jpg" alt="Mandrilizate Fest" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 19 -->

            <li class="item-project span4 design">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="17-gianni.html" data-fancybox-group="gallery" title="Gianni Girrose">
                    <img src="assets/img/portfolio/thumb/gianni-THMB.jpg" alt="Gianni Girrose" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 20 -->

            <li class="item-project span4 design illustration branding">
                <h5>
                    <a href="single-project.html">{{ work.title }}</a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="171-caballo.html" data-fancybox-group="gallery" title="Other">
                    <img src="assets/img/portfolio/thumb/caballo_loco-first-THMB.jpg" alt="Other" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>

            <!-- 21 -->

            <li class="item-project span4 design illustration">
                <h5>
                    <a href="single-project.html">{{ work.title }}/a>
                    <!-- <span class="arrow-port"></span> -->
                </h5>

                <a class="hover-wrap fancybox" href="18-other.html" data-fancybox-group="gallery" title="Other">
                    <img src="assets/img/portfolio/thumb/unsorted-THMB.jpg" alt="Other" />
                    <div class="overlay"></div>
                    <!-- <i class="font-icon-plus"></i> -->
                </a>
            </li>
        </ul>
    </div>
</div>
