@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5), only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi) {
  /* Style Rules */ }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 20px;
  color: #323A45;
  font-weight: normal;
  font-family: "ITCAVANTGARDEGOTHICLTMEDIUM", "Open Sans", sans-serif;
  line-height: 1.5em; }

a:active,
a:focus,
a:hover {
  outline: 0;
  color: #5b5852;
  text-decoration: none; }

.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover {
  background-color: #2A2A2A;
  opacity: 1;
  filter: alpha(opacity=100); }

body {
  font-family: ITCAVANTGARDEGOTHICLTMEDIUM;
  font-weight: normal;
  background: #f8f8f8; }

/* ==================================================
   HEADER
================================================== */
header {
  background: #f8f8f8;
  position: static !important;
  overflow: hidden !important;
  width: 100%;
  height: 100%; }

#slider {
  margin-top: 0;
  margin-bottom: 0; }

div#logo {
  width: 43px;
  margin: 30px auto -15px !important;
  float: none !important; }
  @media (min-width: 992px) and (max-width: 1199px) {
    div#logo {
      width: 43px;
      margin: 13px auto -15px !important; } }
  @media (min-width: 768px) and (max-width: 991px) {
    div#logo {
      width: 37px;
      margin: 10px auto -28px !important; } }
  @media (min-width: 576px) and (max-width: 767px) {
    div#logo {
      width: 35px;
      margin: 20px 0 0 110px !important; } }
  @media (min-width: 320px) and (max-width: 575px) {
    div#logo {
      position: relative;
      width: 35px;
      margin: 12px 0 0 20px !important; } }

.profits_logo {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 57px;
  text-indent: -9999px;
  background: url("../img/logos/profits_logo.svg") no-repeat; }
  @media (min-width: 768px) and (max-width: 991px) {
    .profits_logo {
      width: 35px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .profits_logo {
      width: 35px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .profits_logo {
      width: 32px; } }

/* ==================================================
   NAVBAR
================================================== */
#menu {
  display: block; }

#navbar {
  width: 100%;
  margin-top: 5px; }
  @media (min-width: 768px) and (max-width: 991px) {
    #navbar {
      margin-top: 0; } }
  @media (min-width: 576px) and (max-width: 767px) {
    #navbar {
      margin-top: -50px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    #navbar {
      margin-top: -52px;
      padding-left: 28%; } }

nav#menu {
  margin: 0 auto 20px !important;
  float: none !important;
  width: 245px;
  padding: 0;
  border-top: 1px dotted #bbbbbb;
  border-bottom: 1px dotted #bbbbbb; }
  @media (min-width: 992px) and (max-width: 1199px) {
    nav#menu {
      float: none !important;
      width: 216px;
      padding: 0;
      border-top: 1px dotted grey;
      border-bottom: 1px dotted grey; } }
  @media (min-width: 768px) and (max-width: 991px) {
    nav#menu {
      margin: 0 auto 20px !important;
      float: none !important;
      width: 178px;
      padding: 0;
      border-top: 1px dotted grey;
      border-bottom: 1px dotted grey; } }
  @media (min-width: 576px) and (max-width: 767px) {
    nav#menu {
      margin: -22px auto 0 !important;
      float: none !important;
      width: 173px;
      padding: 0;
      border-top: 1px dotted grey;
      border-bottom: 1px dotted grey; } }
  @media (min-width: 320px) and (max-width: 575px) {
    nav#menu {
      margin: -10px 0 0 !important;
      float: none !important;
      width: 190px;
      padding: 0;
      border-top: 1px dotted grey;
      border-bottom: 1px dotted grey; } }

nav#menu #menu-nav li {
  display: inline-block;
  list-style: none;
  float: none;
  padding: 0 20px;
  margin-top: 3px; }
  @media (min-width: 992px) and (max-width: 1199px) {
    nav#menu #menu-nav li {
      padding: 0 17px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    nav#menu #menu-nav li {
      padding: 0 10px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    nav#menu #menu-nav li {
      padding: 0 11px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    nav#menu #menu-nav li {
      padding: 0 15px; } }
  nav#menu #menu-nav li:last-child {
    padding-right: 0;
    margin-right: 0; }
  nav#menu #menu-nav li:first-child {
    padding-left: 0;
    margin-left: 0; }
  nav#menu #menu-nav li a {
    font-family: "Museo Slab";
    color: #2A2A2A;
    font-size: 18px;
    font-weight: normal;
    line-height: 40px;
    display: block;
    letter-spacing: -0.2px;
    text-transform: uppercase; }
    @media (min-width: 992px) and (max-width: 1199px) {
      nav#menu #menu-nav li a {
        font-size: 16px;
        line-height: 35px; } }
    @media (min-width: 768px) and (max-width: 991px) {
      nav#menu #menu-nav li a {
        font-size: 15px;
        line-height: 32px; } }
    @media (min-width: 576px) and (max-width: 767px) {
      nav#menu #menu-nav li a {
        font-size: 14px;
        line-height: 28px; } }
    @media (min-width: 320px) and (max-width: 575px) {
      nav#menu #menu-nav li a {
        font-size: 14px;
        line-height: 28px !important; } }

nav#menu #menu-nav li a:active,
nav#menu #menu-nav li a:hover,
nav#menu #menu-nav li.active a,
nav#menu #menu-nav li.sfHover a {
  color: #7c7b79;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out; }

#mobile-nav {
  display: none;
  float: none; }

.no-touch .tparrows:hover {
  background-color: #f8f8f8 !important;
  color: #2A2A2A !important; }

.tparrows:hover {
  background-color: #f8f8f8 !important;
  color: #2A2A2A !important; }

/* ==================================================
   BIO
================================================== */
.avatar img {
  width: 100%;
  height: auto; }
  @media (min-width: 768px) and (max-width: 991px) {
    .avatar img {
      width: 100%;
      height: auto; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .avatar img {
      width: 30%;
      height: auto;
      margin: 0 auto; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .avatar img {
      width: 40%;
      height: auto;
      margin: 0 auto; } }

.clip-circle {
  -webkit-clip-path: circle(50% at center) !important;
          clip-path: circle(50% at center) !important; }

.avatar-headline {
  margin-left: 1em;
  margin-bottom: 1em; }
  @media (min-width: 576px) and (max-width: 767px) {
    .avatar-headline {
      font-size: 1.1em;
      line-height: 1.2m; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .avatar-headline {
      font-size: 1.1em;
      line-height: 1.2em; } }

/* ==================================================
   MAIN CAROUSEL
================================================== */
.fullwidthbanner-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh !important; }
  @media (min-width: 768px) and (max-width: 991px) {
    .fullwidthbanner-container {
      height: 80vh !important; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .fullwidthbanner-container {
      height: 70vh !important; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .fullwidthbanner-container {
      height: 60vh !important; } }

/* ==================================================
   Youtube hack
================================================== */
iframe {
  padding-top: 1.5em; }

.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%; }

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

/* ==================================================
   DIVIDERS
================================================== */
.portfolio-over_divider, .portfolio-under_divider {
  background-color: #323A45;
  margin-left: -20px;
  margin-right: 0;
  margin-bottom: 60px;
  margin-top: 20px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .portfolio-over_divider, .portfolio-under_divider {
      margin-bottom: 30px;
      margin-top: 16px;
      margin-right: 0; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .portfolio-over_divider, .portfolio-under_divider {
      margin-bottom: 25px;
      margin-top: 16px;
      margin-right: -20px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .portfolio-over_divider, .portfolio-under_divider {
      margin-bottom: 20px;
      margin-top: 14px;
      margin-right: -20px; } }

.overview-over_divider {
  background-color: #323A45;
  margin-left: -20px;
  margin-right: 0;
  margin-bottom: 60px;
  margin-top: 30px; }
  @media (min-width: 768px) and (max-width: 991px) {
    .overview-over_divider {
      margin-bottom: 30px;
      margin-top: 15px;
      margin-right: 0; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .overview-over_divider {
      margin-bottom: 25px;
      margin-top: 12px;
      margin-right: -20px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .overview-over_divider {
      margin-bottom: 20px;
      margin-top: 10px;
      margin-right: -20px; } }

@media (min-width: 1200px) {
  .portfolio-under_divider {
    margin-bottom: 30px;
    margin-top: 40px; } }

@media (min-width: 992px) and (max-width: 1199px) {
  .portfolio-under_divider {
    margin-bottom: 30px;
    margin-top: 40px; } }

@media (min-width: 768px) and (max-width: 991px) {
  .portfolio-under_divider {
    margin-top: 20px;
    margin-bottom: 30px; } }

@media (min-width: 576px) and (max-width: 767px) {
  .portfolio-under_divider {
    margin-bottom: 30px; } }

@media (min-width: 320px) and (max-width: 575px) {
  .portfolio-under_divider {
    margin-bottom: 18px; } }

.see_title h1,
.touch_title h1 {
  color: #f8f8f8;
  letter-spacing: 0.1em;
  margin: 0;
  padding: 0.9em 0;
  font-family: 'Museo Slab';
  font-size: 2em;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .see_title h1,
    .touch_title h1 {
      padding: 0.8em 0;
      font-size: 1.8em; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .see_title h1,
    .touch_title h1 {
      padding: 0.8em 0;
      font-size: 1.6em; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .see_title h1,
    .touch_title h1 {
      padding: 0.65em 0;
      font-size: 1.4em; } }

/* ==================================================
     PORTFOLIO FILTER
================================================== */
/* ==================================================
   DropDown
================================================== */
.works_title h1 {
  font-family: Museo Slab;
  font-size: 23px;
  color: #f8f8f8;
  font-weight: lighter;
  padding: 0;
  margin: 30px 0 0;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991px) {
    .works_title h1 {
      font-size: 20px;
      margin: 15px 0 0; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .works_title h1 {
      font-size: 20px;
      margin: 15px 0 0; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .works_title h1 {
      font-size: 20px;
      margin: 15px 0 0; } }

.filterMenu {
  position: relative;
  top: 0;
  width: 514px;
  text-decoration: none;
  z-index: 10; }
  .filterMenu ul {
    border-top: 1px dotted #323A45;
    border-bottom: 1px dotted #323A45;
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 15px 0; }
    .filterMenu ul li {
      display: inline-block;
      list-style-type: none;
      padding-right: 1.9rem; }
      .filterMenu ul li:nth-last-child {
        padding-right: 0; }
      .filterMenu ul li a {
        font-family: "ITCAVANTGARDEGOTHICLTMEDIUM";
        font-size: 14px;
        color: #323A45;
        font-weight: normal;
        padding: 0; }
        .filterMenu ul li a:active, .filterMenu ul li a:hover {
          color: #54b589;
          -webkit-transition: all 0.2s ease-in-out;
          transition: all 0.2s ease-in-out; }

.dropdown .dropmenu p {
  font-family: "ITCAVANTGARDEGOTHICLTMEDIUM";
  font-size: 13px;
  color: #54b589;
  font-weight: normal;
  padding: 16px 0 0 15px; }

@media (min-width: 320px) and (max-width: 575px) {
  .dropdown .dropmenu-active {
    margin: 0;
    padding: 0;
    border-radius: 0 2px 2px 0 !important; } }

.dropdown .dropmenu-active ul li a {
  font-family: "ITCAVANTGARDEGOTHICLTMEDIUM";
  font-size: 13px;
  color: #2A2A2A;
  background-color: #bbbbbb;
  font-weight: normal;
  padding: 8px 0 8px 15px; }

.dropdown .dropmenu-active ul li:hover {
  color: #54b589; }

@media (min-width: 768px) and (max-width: 991px) {
  #portfolio-filter.margin-30 {
    margin-bottom: 30px; } }

@media (min-width: 320px) and (max-width: 575px) {
  #portfolio-projects {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0; } }

@media (min-width: 320px) and (max-width: 575px) {
  #projects li {
    list-style: none;
    margin-bottom: 15px !important; } }

#portfolio-filter .dropdown {
  float: none !important;
  margin: 0 0 40px;
  text-align: center !important; }
  @media (min-width: 768px) and (max-width: 991px) {
    #portfolio-filter .dropdown {
      margin: 0 0 20px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    #portfolio-filter .dropdown {
      margin: 0 0 10px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    #portfolio-filter .dropdown {
      margin: 0 0 10px; } }

#dropdown_hidden.dropmenu {
  display: none; }
  @media (min-width: 768px) and (max-width: 991px) {
    #dropdown_hidden.dropmenu {
      display: inline-block;
      width: 100% !important; } }
  @media (min-width: 576px) and (max-width: 767px) {
    #dropdown_hidden.dropmenu {
      display: inline-block; } }
  @media (min-width: 320px) and (max-width: 575px) {
    #dropdown_hidden.dropmenu {
      display: inline-block; } }

#mob-navbar_hidden {
  display: none; }

#navbar_hidden {
  display: inline; }
  @media (min-width: 992px) and (max-width: 1199px) {
    #navbar_hidden {
      display: inline-block; } }
  @media (min-width: 768px) and (max-width: 991px) {
    #navbar_hidden {
      display: none; } }
  @media (min-width: 576px) and (max-width: 767px) {
    #navbar_hidden {
      display: none; } }
  @media (min-width: 320px) and (max-width: 575px) {
    #navbar_hidden {
      display: none; } }

/* ==================================================
   Section Title Page
================================================== */
/* ==================================================
   PORTFOLIO PROJECTS (SEE)
================================================== */
#content {
  padding: 0;
  position: relative;
  background-color: none; }

#portfolio {
  padding-top: 0;
  background-color: none; }

#projects > li > a > h5 {
  color: #323A45;
  font-family: "Museo Slab";
  font-size: 18px;
  line-height: 1.5em;
  margin: 0 0 20px; }

.item-project .hover-wrap .overlay {
  position: absolute;
  display: block;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: #54b589;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.15s ease-in-out 0s;
  transition: opacity 0.15s ease-in-out 0s; }
  .item-project .hover-wrap .overlay .item-project h5 a {
    font-family: "ITCAVANTGARDEGOTHICLTMEDIUM";
    font-size: 13px;
    color: #2A2A2A; }

/* ==================================================
Material Design Card styles
================================================== */
#portfolio-projects li:hover {
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 7px 11px rgba(0, 0, 0, 0.23);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16), 0 7px 11px rgba(0, 0, 0, 0.23); }

/* ==================================================
   Single Page Portfolio Projects
================================================== */
#portfolio-content {
  background-color: linear-gradient(13deg, #d1ebdf, #e2e9f5);
  margin-bottom: 0; }
  #portfolio-content h2 {
    font-size: 2rem;
    color: #323A45;
    font-family: "Museo Slab";
    font-weight: normal;
    line-height: 1.5em;
    margin: 0 0 10px; }
  #portfolio-content h3 {
    color: #323A45;
    font-family: "Museo Slab";
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0; }
    @media (min-width: 320px) and (max-width: 575px) {
      #portfolio-content h3 {
        font-size: 16px; } }
  #portfolio-content .work-def, #portfolio-content .advice {
    color: #2A2A2A !important;
    font-family: "Museo Slab";
    font-size: 1.2em;
    line-height: 1.9em;
    vertical-align: baseline;
    letter-spacing: 0.4px;
    word-spacing: 0px;
    font-weight: lighter;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-text-decoration: #292929;
            text-decoration: #292929;
    text-align: start;
    text-indent: 0px; }
    @media (min-width: 320px) and (max-width: 575px) {
      #portfolio-content .work-def, #portfolio-content .advice {
        font-size: 0.9em;
        line-height: 1.8em; } }
    @media (min-width: 576px) and (max-width: 767px) {
      #portfolio-content .work-def, #portfolio-content .advice {
        font-size: 1em;
        line-height: 1.8em; } }
  #portfolio-content .work-def-sm {
    color: #2A2A2A !important;
    font-family: "Museo Slab";
    font-size: 1.1em;
    line-height: 1.8rem;
    vertical-align: baseline;
    letter-spacing: 0.4px;
    word-spacing: 0px;
    font-weight: lighter;
    font-style: normal;
    font-variant: normal;
    text-transform: none;
    -webkit-text-decoration: #292929;
            text-decoration: #292929;
    text-align: start;
    text-indent: 0px; }
    @media (min-width: 320px) and (max-width: 575px) {
      #portfolio-content .work-def-sm {
        font-size: 0.7em;
        line-height: 1.6em; } }
    @media (min-width: 576px) and (max-width: 767px) {
      #portfolio-content .work-def-sm {
        font-size: 12em;
        line-height: 1.6em; } }
  #portfolio-content .advice {
    font-size: 0.8em;
    color: #F97E76 !important; }
  #portfolio-content h4 {
    color: black;
    font-family: "Museo Slab";
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 0; }
    @media (min-width: 320px) and (max-width: 575px) {
      #portfolio-content h4 {
        font-size: 16px; } }
  #portfolio-content h5 {
    color: black;
    font-family: "Museo Slab";
    font-size: 1.4em;
    font-weight: 800;
    margin-bottom: 10px;
    margin-top: 1.5em; }
    @media (min-width: 320px) and (max-width: 575px) {
      #portfolio-content h5 {
        font-size: 16px;
        margin-top: 0px; } }
  #portfolio-content p {
    color: #54b589;
    font-size: 1.2em;
    font-weight: lighter;
    margin-bottom: 2px !important; }
    @media (min-width: 320px) and (max-width: 575px) {
      #portfolio-content p {
        font-size: 14px; } }
    #portfolio-content p a {
      color: #323A45;
      font-size: 16px;
      font-weight: 500; }
      #portfolio-content p a:hover {
        color: #f8f8f8; }
    @media (min-width: 576px) and (max-width: 767px) {
      #portfolio-content p {
        font-size: 1em;
        line-height: 1.8em; } }
    @media (min-width: 320px) and (max-width: 575px) {
      #portfolio-content p {
        font-size: 0.9em;
        line-height: 1.8em; } }
  #portfolio-content .link {
    color: #2A2A2A;
    font-size: 1em;
    font-weight: lighter;
    margin-bottom: 2px !important; }
    @media (min-width: 320px) and (max-width: 575px) {
      #portfolio-content .link {
        font-size: 14px; } }
    #portfolio-content .link a {
      color: #F97E76;
      font-size: 0.8em;
      font-weight: 500; }
      #portfolio-content .link a:hover {
        color: #323A45; }

.singleSlider {
  margin-top: 20px;
  margin-bottom: 20px; }
  @media (min-width: 320px) and (max-width: 575px) {
    .singleSlider {
      margin: 15px -20px; } }

img.projectSlider.defaultimg {
  height: 100% !important;
  width: 100% !important;
  left: 0 !important; }

.psep {
  margin-bottom: 2rem;
  margin-top: 1rem !important; }

.sep {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem !important; }

.singleSliderNav {
  margin-bottom: 20px; }

.project-navigation {
  border-top-color: #939fb0;
  border-top-style: dotted;
  border-top-width: 1px;
  margin: 10px 0 0;
  padding-top: 20px;
  text-align: center; }
  .project-navigation a {
    background-attachment: scroll;
    background-clip: border-box;
    background-color: #E1E1E1;
    background-image: none;
    background-origin: padding-box;
    background-position: 0 0;
    background-repeat: repeat;
    background-size: auto auto;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
    display: inline-block;
    height: 40px;
    position: relative;
    text-indent: -9999px;
    -webkit-transition-delay: 0s;
            transition-delay: 0s;
    -webkit-transition-duration: 0.15s;
            transition-duration: 0.15s;
    -webkit-transition-property: background;
    transition-property: background;
    -webkit-transition-timing-function: ease-in-out;
            transition-timing-function: ease-in-out;
    width: 40px; }
    .project-navigation a:hover {
      background-color: #323A45;
      color: #f8f8f8; }
      .project-navigation a:hover i {
        color: #f8f8f8; }
    .project-navigation a i {
      color: #2A2A2A;
      font-size: 16px;
      position: absolute;
      top: 50%;
      left: 50%;
      margin: -8px 0 0 -8px;
      text-indent: 0; }

.sliderbanner-container {
  max-height: 780px; }

/* ==================================================
   Contact
================================================== */
.keepTouch {
  font-family: "Museo Slab";
  font-size: 1.8em;
  color: #54b589; }
  @media (min-width: 1200px) {
    .keepTouch {
      font-size: 2.8em;
      margin-top: 20px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .keepTouch {
      font-size: 2.3em;
      margin-top: 20px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    .keepTouch {
      font-size: 2.3em;
      text-align: center; } }
  @media (min-width: 576px) and (max-width: 767px) {
    .keepTouch {
      text-align: center; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .keepTouch {
      text-align: center;
      margin-top: 20px; } }

#contact {
  margin-top: 0; }

.contact-margin-bottom {
  margin-bottom: 0; }

.contact-details {
  border-top: 2px solid #323a45;
  border-bottom: 2px solid #323a45;
  margin-top: 0;
  margin-bottom: 27px;
  padding-top: 10px;
  text-align: center; }
  @media (min-width: 1200px) {
    .contact-details {
      border-top: none;
      border-bottom: none;
      margin-top: 116px; } }
  @media (min-width: 992px) and (max-width: 1199px) {
    .contact-details {
      border-top: none;
      border-bottom: none;
      margin-top: 105px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    .contact-details {
      margin-bottom: 25px; } }
  .contact-details ul li {
    color: #68788f !important;
    line-height: 2 !important;
    margin-bottom: 0 !important; }
    @media (min-width: 1200px) {
      .contact-details ul li {
        text-align: left; } }
    @media (min-width: 992px) and (max-width: 1199px) {
      .contact-details ul li {
        text-align: left; } }
  .contact-details h3 {
    font-size: 1.3rem;
    margin-bottom: 6px !important; }
  .contact-details h4 {
    font-size: 1.1rem;
    margin-bottom: 10px; }

#contact-form .submit:hover {
  background: #54b589; }

[role="button"],
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  -webkit-box-sizing: content-box;
  box-sizing: content-box; }

/* Reset `button` and button-style `input` default styles */
input[type="submit"],
input[type="reset"],
input[type="button"],
button {
  border-color: none;
  border-radius: none;
  border-style: none;
  border-width: none;
  padding: none;
  background: none;
  border: 0;
  color: inherit;
  /* cursor: default; */
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  -webkit-appearance: button;
  /* for input */
  -webkit-user-select: none;
  /* for button */
  -moz-user-select: none;
  -ms-user-select: none; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/* ==================================================
   Footer
================================================== */
footer {
  position: relative;
  background: #f8f8f8;
  padding: 16px 0; }
  @media (min-width: 992px) and (max-width: 1199px) {
    footer {
      padding: 8px 0 6px; } }
  @media (min-width: 768px) and (max-width: 991px) {
    footer {
      padding: 8px 0 6px; } }
  @media (min-width: 576px) and (max-width: 767px) {
    footer {
      padding: 7px 0 5px; } }
  @media (min-width: 320px) and (max-width: 575px) {
    footer {
      padding: 6px 0 3px; } }

#social-footer ul {
  margin: 0;
  padding: 0;
  text-align: center; }
  #social-footer ul li {
    cursor: pointer;
    display: inline-block;
    list-style: none;
    float: none;
    margin: 0 0 0 -5px; }
    #social-footer ul li:hover a {
      background-color: #323A45; }
    #social-footer ul li:hover a i {
      color: #f8f8f8;
      opacity: 1; }
    #social-footer ul li a {
      background-color: transparent;
      border-radius: 2px 2px 2px 2px;
      display: block;
      height: 45px;
      width: 70px;
      -webkit-transition: background 0.35s ease-in-out 0s;
      transition: background 0.35s ease-in-out 0s; }
      @media (min-width: 992px) and (max-width: 1199px) {
        #social-footer ul li a {
          height: 36px;
          width: 66px; } }
      @media (min-width: 768px) and (max-width: 991px) {
        #social-footer ul li a {
          height: 36px;
          width: 66px; } }
      @media (min-width: 576px) and (max-width: 767px) {
        #social-footer ul li a {
          height: 30px;
          width: 60px; } }
      @media (min-width: 320px) and (max-width: 575px) {
        #social-footer ul li a {
          height: 26px;
          width: 56px; } }
      #social-footer ul li a i {
        color: #2A2A2A;
        display: inline-block;
        font-size: 32px;
        line-height: 45px;
        margin: 0;
        opacity: 0.5;
        filter: alpha(opacity=30);
        -webkit-transition: color 0.15s ease-in-out 0s;
        transition: color 0.15s ease-in-out 0s; }
        @media (min-width: 992px) and (max-width: 1199px) {
          #social-footer ul li a i {
            font-size: 24px;
            line-height: 36px;
            margin: 0; } }
        @media (min-width: 768px) and (max-width: 991px) {
          #social-footer ul li a i {
            font-size: 24px;
            line-height: 36px;
            margin: 0; } }
        @media (min-width: 576px) and (max-width: 767px) {
          #social-footer ul li a i {
            font-size: 20px;
            line-height: 30px;
            margin: 0; } }
        @media (min-width: 320px) and (max-width: 575px) {
          #social-footer ul li a i {
            font-size: 18px;
            line-height: 26px;
            margin: 0; } }
      #social-footer ul li a img {
        display: inline-block;
        margin: -3px 0 0;
        opacity: 1;
        filter: alpha(opacity=100); }
        @media (min-width: 992px) and (max-width: 1199px) {
          #social-footer ul li a img {
            height: 35px;
            margin-top: -2px; } }
        @media (min-width: 768px) and (max-width: 991px) {
          #social-footer ul li a img {
            height: 35px;
            margin-top: -2px; } }
        @media (min-width: 576px) and (max-width: 767px) {
          #social-footer ul li a img {
            height: 31px;
            margin-top: -5px; } }
        @media (min-width: 320px) and (max-width: 575px) {
          #social-footer ul li a img {
            height: 27px;
            margin-top: -2px;
            margin-bottom: 5px; } }

#back-to-top:hover {
  background-color: #54b589; }

/* ==================================================
   Footer Credits
================================================== */
#footer-credits {
  position: relative;
  background: #2A2A2A;
  padding: 20px 0;
  text-align: center; }
  @media (min-width: 576px) and (max-width: 767px) {
    #footer-credits {
      padding: 15px 0; } }
  @media (min-width: 320px) and (max-width: 575px) {
    #footer-credits {
      padding: 10px 0; } }
  #footer-credits p {
    font-family: "Open Sans", sans-serif;
    color: #E1E1E1;
    font-size: 11px;
    margin-bottom: 0; }
    @media (min-width: 576px) and (max-width: 767px) {
      #footer-credits p {
        font-size: 10px; } }
    @media (min-width: 320px) and (max-width: 575px) {
      #footer-credits p {
        font-size: 9px; } }
    #footer-credits p a {
      font-weight: lighter; }
    #footer-credits p:hover {
      color: #F97E76; }
/*# sourceMappingURL=style.css.map */