h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0 0 20px;
  color: #323A45;
  font-weight: normal;
  font-family: $avant, "Open Sans", sans-serif;
  line-height: 1.5em;
}
a:active,
a:focus,
a:hover {
  outline: 0;
  color: $marron;
  text-decoration: none;
}
.tp-bullets.simplebullets.round .bullet.selected,
.tp-bullets.simplebullets.round .bullet:hover {
  background-color: $negro;
  opacity: 1;
  filter: alpha(opacity = 100);
}
html {
  // background: $grad01;
}
body {
  font-family: ITCAVANTGARDEGOTHICLTMEDIUM;
  font-weight: normal;
  background: $blanco;
}
/* ==================================================
   HEADER
================================================== */

header {
  background: $blanco;
  position: static !important;
  overflow: hidden !important;
  width: 100%;
  height: 100%;
  // @include breakpoint(lg) {
  //   height: 134px;
  // }
  // @include breakpoint(md) {
  //   height: 120px;
  // }
  // @include breakpoint(sm) {
  //   height: 84px;
  // }
  // @include breakpoint(xs) {
  //   height: 67px !important;
  // }
}
#slider {
  margin-top: 0;
  margin-bottom: 0;
}

div#logo {
  width: 43px;
  margin: 30px auto -15px !important;
  float: none !important;
  @include breakpoint(lg) {
    width: 43px;
    margin: 13px auto -15px !important;
  }
  @include breakpoint(md) {
    width: 37px;
    margin: 10px auto -28px !important;
  }
  @include breakpoint(sm) {
    width: 35px;
    margin: 20px 0 0 110px !important;
  }
  @include breakpoint(xs) {
    position: relative;
    width: 35px;
    margin: 12px 0 0 20px !important;
    // line-height: 53px;
  }
}
.profits_logo {
  display: inline-block;
  position: relative;
  width: 40px;
  height: 57px;
  text-indent: -9999px;
  background: url("../img/logos/profits_logo.svg") no-repeat;
  @include breakpoint(md) {
    width: 35px;
  }
  @include breakpoint(sm) {
    width: 35px;
  }
  @include breakpoint(xs) {
    width: 32px;
  }
}
/* ==================================================
   NAVBAR
================================================== */
#menu {
  display: block;
}
#navbar {
  width: 100%;
  margin-top: 5px;
  @include breakpoint(md) {
    margin-top: 0;
  }
  @include breakpoint(sm) {
    margin-top: -50px;
  }
  @include breakpoint(xs) {
    margin-top: -52px;
    padding-left: 28%;
  }
}
nav#menu {
  margin: 0 auto 20px !important;
  float: none !important;
  width: 245px;
  padding: 0;
  border-top: 1px dotted $gris-dot;
  border-bottom: 1px dotted $gris-dot;
  @include breakpoint(lg) {
    // margin: 0 auto 20px !important;
    float: none !important;
    width: 216px;
    padding: 0;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
  }
  @include breakpoint(md) {
    margin: 0 auto 20px !important;
    float: none !important;
    width: 178px;
    padding: 0;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
  }
  @include breakpoint(sm) {
    margin: -22px auto 0 !important;
    float: none !important;
    width: 173px;
    padding: 0;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
  }
  @include breakpoint(xs) {
    margin: -10px 0 0 !important;
    float: none !important;
    width: 190px;
    padding: 0;
    border-top: 1px dotted grey;
    border-bottom: 1px dotted grey;
  }
}
nav#menu #menu-nav {
  @include breakpoint(xs) {
    // margin-top: -2px !important;
  }
  li {
    display: inline-block;
    list-style: none;
    float: none;
    padding: 0 20px;
    margin-top: 3px;
    @include breakpoint(lg) {
      padding: 0 17px;
    }
    @include breakpoint(md) {
      padding: 0 10px;
    }
    @include breakpoint(sm) {
      padding: 0 11px;
    }
    @include breakpoint(xs) {
      padding: 0 15px;
    }
    &:last-child {
      padding-right: 0;
      margin-right: 0;
    }
    &:first-child {
      padding-left: 0;
      margin-left: 0;
    }
    a {
      font-family: $museo;
      color: $negro;
      font-size: 18px;
      font-weight: normal;
      line-height: 40px;
      display: block;
      letter-spacing: -0.2px;
      text-transform: uppercase;
      @include breakpoint(lg) {
        font-size: 16px;
        line-height: 35px;
      }
      @include breakpoint(md) {
        font-size: 15px;
        line-height: 32px;
      }
      @include breakpoint(sm) {
        font-size: 14px;
        line-height: 28px;
      }
      @include breakpoint(xs) {
        font-size: 14px;
        line-height: 28px !important;
      }
    }
  }
}
nav#menu #menu-nav li a:active,
nav#menu #menu-nav li a:hover,
nav#menu #menu-nav li.active a,
nav#menu #menu-nav li.sfHover a {
  color: $gris;
  @include transition(all, 0.2s, ease-in-out);
}
#mobile-nav {
  display: none;
  float: none;
}
.no-touch .tparrows:hover {
  background-color: $blanco !important;
  color: $negro !important;
}
.tparrows:hover {
  background-color: $blanco !important;
  color: $negro !important;
}
/* ==================================================
   BIO
================================================== */
.avatar {
  img {
    width: 100%;
    height: auto;

    @include breakpoint(md) {
      width: 100%;
      height: auto;
    }
    @include breakpoint(sm) {
      width: 30%;
      height: auto;
      margin: 0 auto;

    }
    @include breakpoint(xs) {
      width: 40%;
      height: auto;
      margin: 0 auto;
    }
  }
}

.clip-circle {
  clip-path: circle(50% at center) !important;
}

.avatar-bio {

}

.avatar-headline {
  margin-left: 1em;
  margin-bottom: 1em;

  @include breakpoint(sm) {
    font-size:  1.1em;
    line-height: 1.2m;

  }
  @include breakpoint(xs) {
    font-size:  1.1em;
    line-height: 1.2em;
  }
}




/* ==================================================
   MAIN CAROUSEL
================================================== */
.fullwidthbanner-container {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: 100vh !important;
  @include breakpoint(md) {
    height: 80vh !important;
  }
  @include breakpoint(sm) {
    height: 70vh !important;
  }
  @include breakpoint(xs) {
    height: 60vh !important;
  }
}

/* ==================================================
   Youtube hack
================================================== */
iframe {
    padding-top: 1.5em;
}
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.embed-container iframe, .embed-container object, .embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* ==================================================
   DIVIDERS
================================================== */
//SEE & TOUCH DIVIDERS HORIZONTAL MARGIN SETTINGS//

.portfolio-over_divider, .portfolio-under_divider  {
  background-color: $gris-anubis;
  margin-left: -20px;
  margin-right: 0;
  margin-bottom: 60px;
  margin-top: 20px;
  @include breakpoint(md) {
    margin-bottom: 30px;
    margin-top: 16px;

    margin-right: 0;
  }
  @include breakpoint(sm) {
    margin-bottom: 25px;
    margin-top: 16px;

    margin-right: -20px;
  }
  @include breakpoint(xs) {
    margin-bottom: 20px;
    margin-top: 14px;

    margin-right: -20px;
  }
}
.overview-over_divider {
  background-color: $gris-anubis;
  margin-left: -20px;
  margin-right: 0;
  margin-bottom: 60px;
  margin-top: 30px;
  @include breakpoint(md) {
    margin-bottom: 30px;
    margin-top: 15px;

    margin-right: 0;
  }
  @include breakpoint(sm) {
    margin-bottom: 25px;
    margin-top: 12px;

    margin-right: -20px;
  }
  @include breakpoint(xs) {
    margin-bottom: 20px;
    margin-top: 10px;

    margin-right: -20px;
  }
}

.portfolio-under_divider {
  @include breakpoint(xl) {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  @include breakpoint(lg) {
    margin-bottom: 30px;
    margin-top: 40px;
  }
  @include breakpoint(md) {
    margin-top: 20px;
    margin-bottom: 30px;
  }
  @include breakpoint(sm) {
    margin-bottom: 30px;
  }
  @include breakpoint(xs) {
    margin-bottom: 18px;
  }
}
// see-over_divider
.see_title,
.touch_title {
  h1 {
    color: $blanco;
    letter-spacing: 0.1em;
    margin: 0;
    padding: 0.9em 0;
    font-family: 'Museo Slab';
    font-size: 2em;
    text-align: center;
    @include breakpoint(md) {
      padding: 0.8em 0;
      font-size: 1.8em;
    }
    @include breakpoint(sm) {
      padding: 0.8em 0;
      font-size: 1.6em;
    }
    @include breakpoint(xs) {
      padding: 0.65em 0;
      font-size: 1.4em;
    }
  }
}
/* ==================================================
     PORTFOLIO FILTER
================================================== */
/* ==================================================
   DropDown
================================================== */
.works_title {
  h1 {
    font-family: Museo Slab;
    font-size: 23px;
    color: $blanco;
    font-weight: lighter;
    padding: 0;
    margin: 30px 0 0;
    text-align: center;
    @include breakpoint(md) {
      font-size: 20px;
      margin: 15px 0 0;
    }
    @include breakpoint(sm) {
      font-size: 20px;
      margin: 15px 0 0;
    }
    @include breakpoint(xs) {
      font-size: 20px;
      margin: 15px 0 0;
    }
  }
}
.filterMenu {
  position: relative;
  top: 0;
  width: 514px;
  text-decoration: none;
  z-index: 10;
  ul {
    border-top: 1px dotted $gris-anubis;
    border-bottom: 1px dotted $gris-anubis;
    margin-top: 0;
    margin-bottom: 0;
    // padding: 10px 15px 8px;
    padding: 0 15px 0;
    li {
      display: inline-block;
      list-style-type: none;
      padding-right: 1.9rem;
      &:nth-last-child {
        padding-right: 0;
      }
      a {
        font-family: $avant;
        font-size: 14px;
        color: $gris-anubis;
        font-weight: normal;
        padding: 0;
        &:active,
        &:hover {
          color: $verde;
          @include transition(all, 0.2s, ease-in-out);
        }
      }
    }
  }
}
.dropdown {
  .dropmenu {
    // 	&:hover{
    // 		background-color: $blanco;
    // }
    p {
      font-family: $avant;
      font-size: 13px;
      color: $verde;
      font-weight: normal;
      padding: 16px 0 0 15px;
    }
  }
  .dropmenu-active {
    @include breakpoint(xs) {
      margin: 0;
      padding: 0;
      -webkit-border-radius: 0 2px 2px 0 !important;
      -moz-border-radius: 0 2px 2px 0 !important;
      border-radius: 0 2px 2px 0 !important;
    }
    ul li {
      a {
        font-family: $avant;
        font-size: 13px;
        color: $negro;
        background-color: $gris-dot;
        font-weight: normal;
        padding: 8px 0 8px 15px;
      }
      &:hover {
        color: $verde;
      }
    }
  }
}
// Hacer el dropmenu alargado
// .dropmenu,
// .dropmenu-active {
//   width: 100% !important;
// }
#portfolio-filter.margin-30 {
  @include breakpoint(md) {
    margin-bottom: 30px;
  }
}
//Portfolio projects en XS
#portfolio-projects {
  @include breakpoint(xs) {
    margin-left: -20px;
    margin-right: -20px;
    margin-bottom: 0;
  }
}
#projects li {
  @include breakpoint(xs) {
    list-style: none;
    margin-bottom: 15px !important;
  }
}
#portfolio-filter .dropdown {
  float: none !important;
  margin: 0 0 40px;
  text-align: center !important;
  @include breakpoint(md) {
    margin: 0 0 20px;
  }
  @include breakpoint(sm) {
    margin: 0 0 10px;
  }
  @include breakpoint(xs) {
    margin: 0 0 10px;
  }
}
#dropdown_hidden.dropmenu {
  display: none;
  @include breakpoint(md) {
    display: inline-block;
    // Hacer el dropmenu alargado
    width: 100% !important;
  }
  @include breakpoint(sm) {
    display: inline-block;
  }
  @include breakpoint(xs) {
    display: inline-block;
  }
}
#mob-navbar_hidden {
  display: none;
}
#navbar_hidden {
  display: inline;
  @include breakpoint(lg) {
    display: inline-block;
  }
  @include breakpoint(md) {
    display: none;
  }
  @include breakpoint(sm) {
    display: none;
  }
  @include breakpoint(xs) {
    display: none;
  }
}
