@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min--moz-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3 / 2), only screen and (min-device-pixel-ratio: 1.5), only screen and (min-resolution: 192dpi) {
  /* Style Rules */
}
$negro: black;
$blanco: #f8f8f8;
$perla: #E1E1E1;
$marron: #5b5852;
$verde: #54b589;
$salmon: #F97E76;
$gris: #7c7b79;
$gris-dot: rgb(187, 187, 187);
$gris-anubis: #323A45;
//GRADIENTS//
$grad01: linear-gradient(13deg, lighten($verde, 35%), lighten(#83a4d4, 25%));
//FONTS//
$times: TimesNewRoman, "Times New Roman", Times, Baskerville, Georgia, serif;
$open: "Open Sans", sans-serif;
$museo: "Museo Slab";
$avant: "ITCAVANTGARDEGOTHICLTMEDIUM";
@mixin transition($transition-property, $transition-time, $method) {
  -webkit-transition: $transition-property $transition-time $method;
  -moz-transition: $transition-property $transition-time $method;
  -ms-transition: $transition-property $transition-time $method;
  -o-transition: $transition-property $transition-time $method;
  transition: $transition-property $transition-time $method;
}
//Mixins
@mixin breakpoint($point) {
  @if $point == xl {
    @media (min-width: 1200px) {
      @content;
    }
  } @else if $point == lg {
    @media (min-width: 992px) and (max-width: 1199px) {
      @content;
    }
  } @else if $point == md {
    @media (min-width: 768px) and (max-width: 991px) {
      @content;
    }
  } @else if $point == sm {
    @media (min-width: 576px) and (max-width: 767px) {
      @content;
    }
  } @else if $point == xs {
    @media (min-width: 320px) and (max-width: 575px) {
      @content;
    }
  }
}
