---
layout: default-works
inner_path: true
---

<!-- Start Portfolio Content -->
<section id="portfolio-content">
    <div class="container">
      <!-- Start Navigation -->
      <div class="row singleSliderNav">
          <div class="span12">
              <div class="project-navigation">
                  {% if page.previous.url %}
                  <a class="prev-btn pull-left" href="{{ page.previous.url | prepend: site.baseurl }}"><i class="font-icon-arrow-simple-left"></i>Next Project</a> {% endif %}

                  {% if page.next.url %}
                  <a class="right-btn pull-right" href="{{ page.next.url | prepend: site.baseurl }}"><i class="font-icon-arrow-simple-right"></i>Previous Project</a> {% endif %}



                  <a href="{{ site.baseurl | append: "/#case-studies" }}"><i class="font-icon-grid"></i>Back to Portfolio</a>
              </div>
          </div>
      </div>
      <!-- End Navigation -->
        <!-- Start Simple Slider -->
        <div class="row singleSlider">
            <div class="span12">
                <section id="simple-slider">
                    <div class="sliderbanner-container">
                        <div class="sliderbanner">

                            <ul>
                                {% for image in page.images %}
                                <!-- THE FIRST SLIDE -->
                                <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
                                    <img class="projectSlider" src="{{ page.image_path }}{{image.name}}
                                    " data-rjs="2" alt="{{ image.text }}" data-fullwidthcentering="on">
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <!-- End Simple Slider -->

        <!-- Start Work Info -->
        <div class="row">
            <div class="span12">
                <h2>{{ page.big_title }}</h2>
                <p>{{ page.p }}</p>

                {% if page.urlink %}
                  <p class="link"><a href="{{ page.urlink }}" target="_blank">{{ page.link }}</a></p>
                <!-- {{ page.link | remove:'http://' }} -->
                {% endif %}

                {% if page.h5%}
                  <h5> {{ page.h5 }}</h5>
                {% endif %}

                {% if page.embed %}
                <!-- <p><a href="{{ page.yt }}" target="_blank">{{ page.embed }}</a></p> -->
                {% include youtubePlayer.html id=page.youtubeId %}
                {% endif %}

                {% if page.var %}
                  {% include {{ page.var }} %}
                {% endif %}




            </div>
        </div>
        <!-- End Work Info -->

        <!-- Start Case info -->

        <!-- End Case info -->

        <!-- Start Navigation -->
        <div class="row singleSliderNav">
            <div class="span12">
                <div class="project-navigation">
                    {% if page.previous.url %}
                    <a class="prev-btn pull-left" href="{{ page.previous.url | prepend: site.baseurl }}"><i class="font-icon-arrow-simple-left"></i>Next Project</a> {% endif %}

                    {% if page.next.url %}
                    <a class="right-btn pull-right" href="{{ page.next.url | prepend: site.baseurl }}"><i class="font-icon-arrow-simple-right"></i>Previous Project</a> {% endif %}



                    <a href="{{ site.baseurl | append: "/#case-studies" }}"><i class="font-icon-grid"></i>Back to Portfolio</a>
                </div>
            </div>
        </div>
        <!-- End Navigation -->
    </div>
</section>
<!-- End Portfolio Content -->
